/*
 * BankApi
 *
 * Developer challenge using Swagger and ASP.NET Core
 *
 * OpenAPI spec version: v1
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 */

using System.Collections.Generic;
using System.ComponentModel.DataAnnotations;
using BankApi.Logic.Data.Repositories;
using BankApi.Server.Models;
using IO.Swagger.Server.Attributes;
using Microsoft.AspNetCore.Mvc;
using Newtonsoft.Json;
using Swashbuckle.AspNetCore.SwaggerGen;

namespace BankApi.Server.Controllers
{
    /// <summary>
    /// </summary>
    public class UsersApiController : Controller
    {
        private readonly IUserRepository _userRepository;

        public UsersApiController(IUserRepository userRepository)
        {
            _userRepository = userRepository;
        }

        /// <summary>
        ///     Creates a new user
        /// </summary>
        /// <param name="userData">User data for the user to be created</param>
        /// <response code="200">Successfully created user account</response>
        /// <response code="400">New user data invalid</response>
        /// <response code="404">Bank account not found</response>
        [HttpPost]
        [Route("/api/v1/users")]
        [ValidateModelState]
        [SwaggerOperation("ApiV1UsersCreate")]
        [SwaggerResponse(200, typeof(UserViewModel), "Successfully created user account")]
        [SwaggerResponse(400, typeof(ErrorViewModel), "New user data invalid")]
        [SwaggerResponse(404, typeof(ErrorViewModel), "Bank account not found")]
        public virtual IActionResult ApiV1UsersCreate(
            [FromBody] CreateUserViewModel userData
        )
        {
            //TODO: Uncomment the next line to return response 200 or use other options such as return this.NotFound(), return this.BadRequest(..), ...
            // return StatusCode(200, default(UserViewModel));

            //TODO: Uncomment the next line to return response 400 or use other options such as return this.NotFound(), return this.BadRequest(..), ...
            // return StatusCode(400, default(ErrorViewModel));

            //TODO: Uncomment the next line to return response 404 or use other options such as return this.NotFound(), return this.BadRequest(..), ...
            // return StatusCode(404, default(ErrorViewModel));

            string exampleJson = null;
            exampleJson = "{\r\n  \"user_id\" : 1,\r\n  \"username\" : \"John Doe\"\r\n}";

            var example = exampleJson != null
                ? JsonConvert.DeserializeObject<UserViewModel>(exampleJson)
                : default(UserViewModel);
            //TODO: Change the data returned
            return new ObjectResult(example);
        }

        /// <summary>
        ///     Gets a list of all users in the system
        /// </summary>
        /// <response code="200">Successfully retrieved list of users</response>
        [HttpGet]
        [Route("/api/v1/users")]
        [ValidateModelState]
        [SwaggerOperation("ApiV1UsersGetAll")]
        [SwaggerResponse(200, typeof(List<UserViewModel>), "Successfully retrieved list of users")]
        public virtual IActionResult ApiV1UsersGetAll()
        {
            //TODO: Uncomment the next line to return response 200 or use other options such as return this.NotFound(), return this.BadRequest(..), ...
            // return StatusCode(200, default(List<UserViewModel>));

            string exampleJson = null;
            exampleJson =
                "[ {\r\n  \"user_id\" : 1,\r\n  \"username\" : \"John Doe\"\r\n}, {\r\n  \"user_id\" : 2,\r\n  \"username\" : \"Jane Doe\"\r\n} ]";

            var example = exampleJson != null
                ? JsonConvert.DeserializeObject<List<UserViewModel>>(exampleJson)
                : default(List<UserViewModel>);
            //TODO: Change the data returned
            return new ObjectResult(example);
        }

        /// <summary>
        ///     Gets details about a specific user
        /// </summary>
        /// <param name="user_id">Id of the user to return</param>
        /// <response code="200">Successfully retrieved user data</response>
        /// <response code="404">User not found</response>
        [HttpGet]
        [Route("/api/v1/users/{user_id}")]
        [ValidateModelState]
        [SwaggerOperation("ApiV1UsersGetById")]
        [SwaggerResponse(200, typeof(UserViewModel), "Successfully retrieved user data")]
        [SwaggerResponse(404, typeof(ErrorViewModel), "User not found")]
        public virtual IActionResult ApiV1UsersGetById(
            [FromRoute] [Required] int? user_id
        )
        {
            //TODO: Uncomment the next line to return response 200 or use other options such as return this.NotFound(), return this.BadRequest(..), ...
            // return StatusCode(200, default(UserViewModel));

            //TODO: Uncomment the next line to return response 404 or use other options such as return this.NotFound(), return this.BadRequest(..), ...
            // return StatusCode(404, default(ErrorViewModel));

            string exampleJson = null;
            exampleJson = "{\r\n  \"user_id\" : 1,\r\n  \"username\" : \"John Doe\"\r\n}";

            var example = exampleJson != null
                ? JsonConvert.DeserializeObject<UserViewModel>(exampleJson)
                : default(UserViewModel);
            //TODO: Change the data returned
            return new ObjectResult(example);
        }
    }
}